body{
  margin: 0 100px;
  font-family: 'Raleway', sans-serif;
  color: #606060;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.75em;
  margin: 30px 0;
}

p{
  text-align: justify;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "p p p p p"
    "h h h h h"
    "m c c c c"
    "m c c c c"
    "m c c c c"
    "f f f f f"
}

.img-welcome{
     grid-area: p;
     align-self: center;
     justify-self: center;
     }

.img-welcome img{
       height:500px;
     }

 .header{
   grid-area: h;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;

 }

.img-logo img{

}

.menu {
    grid-area: m;
    background-color: white;
    border: solid 1px black;
    }

.menu ul{
  list-style: none;
  margin: 50px 10px;
}

.menu ul li{
  margin: 30px 0;
}

.content {
    grid-area: c;
    background-color: white;
    border: solid 1px black;
    }
.home {
  margin: 0 100px;
}

.home h2{
  text-align: center;
}

.footer {
    grid-area: f;
    background-color: orange;
    border-top: solid 3px black
    }
/*
.social {
  text-align: left;
  display: inline-block;
}*/

.ppt {
  grid-column-start: p3;
  background: red;

}

    .fa-instagram {
      background: white;
      margin: 5px;
      padding: 3px;
    }

    .fa-facebook {
      background: white;
      margin: 5px;
      padding: 3px;
    }
