html{
  margin: 0;
  padding: 0;
  }

body{
  font-family: 'Raleway', sans-serif;
  color: #606060;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.75em;
  margin: 30px 0;
  }

p{
  text-align: justify;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas:
    "h h h h h"
    "m c c c c"
    "m c c c c"
    "f f f f f";
    border: solid 3px black;
    }

    .header{
      grid-area: h;
      background: white;
      }

      .img-welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
      }

    .img-welcome img{
      height: 500px;
      }

    .img-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      overflow: inherit;
    }

    .menu{
      grid-area: m;
      background: white;
      width: 75%;
      margin-top: 75px;
    }

    .menu ul{
      list-style: none;
      font-weight: bold;

      }

.menu ul li:hover{
  background-color: #49c585;
  color: white;
  border-bottom: 2px solid #ededed;
  transition: all .3s ease;
}

.menu ul li{
  padding: 20px;
  box-shadow: 1px 1px 1px 1px grey;
  margin-bottom: 5px;
}

.menu a:link{
  text-decoration: none;
  color: inherit;
}

.content{
  grid-area: c;
  background: white;
  margin-top: 20px;
  }

  .img-header{
    position: relative;
    left: 20%;
    margin-bottom: 30px;
  }

  #runner {
    position: relative;
    left: 20%;
    width: 50%;
    height: auto;
    margin-bottom: 30px;
  }

.home p{
  margin: 0 150px;
  position: relative;
  right: 11%;
  }

.home h2{
  position: relative;
  left: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.active {
  background-color: #49c585;
  color: white;
  border-bottom: 2px solid #ededed;
}

.video1{
  position: relative;
  left: 10%;
  margin-top: 30px;
}
.video2{
  position: relative;
  left: 10%;
  margin-top: 30px;
}

.learnmore {
  position: relative;
  left: 30%;
  text-decoration: none;
}

.form-links {
  text-align: center;
  text-decoration: none;
  position: relative;
  right: 10%;

}

.form-links ul {
  list-style: none;
}

.form-links a {
  text-decoration: none;
}

.reviews p{
  font-style: italic;
  font-size: 18px;
  line-height: 1.6em;
  color: #333;
}

h4 {
  position: relative;
  left: 30%;
  margin: 30px 0;
}


.footer{
  grid-area: f;
  background: white;
}

.footer p {
  text-align: center;
  color: #606060;
  font-size: 10px;
}

#occu-end {
  margin-bottom: 50px;
}
